name: Python CI

on:
  push:
    branches: [main]
  pull_request:
    branches:
    - '**'


jobs:
  run_tests:
    name: tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toxenv: [django42, django52, quality]
        python-version: [3.11, 3.12]

    steps:
    - uses: actions/checkout@v4
    - name: Install uv and set the python version
      uses: astral-sh/setup-uv@v5
      with:
        python-version: 3.11

    - name: Install Dependencies
      run: uv sync --only-group ci

    - name: Run Tests
      env:
        TOXENV: ${{ matrix.toxenv }}
      run: |
        if [ "${{ matrix.toxenv }}" = "quality" ]; then
          uv run tox -- --output-format github
        else
          uv run tox
        fi

    - name: Run coverage
      if: matrix.python-version == '3.11' && matrix.toxenv == 'django42'
      uses: codecov/codecov-action@v4
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        flags: python
        fail_ci_if_error: false
